body {
    background-color: #eaeaea;
    font: 16px/28px Arial, sans-serif;
    color: #333;
    background-image: url(img/45degreee_fabric.webp)
}

.container {
    width: 800px;
    margin: auto;
    background-color: white

}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 48px;
    font-weight: bold;  
    color: red;
}

.header  nav  {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.header nav a {
    text-decoration: none;
    color: red;
    padding-right: 40px;
}

.header nav a:hover {
    color: brown;
}

.hero {
    height: 250px;
    background-image: url(img/bg.gif);
    background-size: cover;
    background-position: center; 
    border-top: 5px solid red;
    border-bottom: 5px solid brown;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.content .penulis {
    font-size: 14px;
    font-style: italic;
    color: #999;
    margin-top: -20px;
}

.penulis a {
    text-decoration: none;
    color:brown;
}

.footer {
    padding: 3px;
    background-color: brown;
    color: white;
    text-align: center;
}
